<%= form_with(scope: :session, url: signin_path, local: true) do |f| %>
    <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, placeholder: "Enter your password", class: "form-control" %>
    </div>
    <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>