<%= render 'navigation' %>
<h1>Completed Orders</h1>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Item Name</th>
            <th>Amount</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <% @completedOrders.each do |order|%>
            <tr>
                <td><%= order.id%></td>
                <% order.items.each do |item| %>
                    <td><%= item.item_name %></td>
                    <td><%= order.quantity * item.price %></td>
                <% end %>
                <td><%= order.updated_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>