<%= render 'navigation' %>
<h1>Completed Orders</h1>
<table class="table shadow p-3 mb-5 bg-white table-responsive-md"> 
    <thead>
        <tr class="table100-head">
            <th class="column1">Order ID</th>
            <th class="column2">Item Name</th>
            <th class="column3">Amount</th>
            <th class="column4">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <% @completedOrders.each do |order|%>
            <tr>
                <td><%= order.id%></td>
                <% order.items.each do |item| %>
                    <td><%= item.item_name %></td>
                    <td><%= order.quantity * item.price %></td>
                <% end %>
                <td><%= order.updated_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>