<%= render 'owners/navigation' %>
<h1>Items List</h1>
<table class="table shadow p-3 mb-5 bg-white table-responsive-md">
    <thead>
        <tr class="table100-head">
            <th class="column1">Item Name</th>
            <th class="column2" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
        <tr>
            <td class="column1"><%= item.item.item_name %></td>
            <td class="column2">
                <%= link_to "View", item_path(item.item_id) %>
                <%= link_to "Edit", edit_item_path(item.item_id) %>
                <%= link_to "Delete", item_path(item.item_id), method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'Add a new Item', new_item_path %>